<extend name="./abase"/>

<block name="main">


  <!-- content start -->


    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table am-table-hover">
          <thead>
  
          <tr>
            <th>登录记录：</th><th>管理员</th><th>登录时间</th><th>离开时间</th>
          </tr>
          </thead>
          <tbody>
          <tr><td>1</td><td>John Clark</td><td><span class="am-badge am-badge-warning">2015-6-8</span></td> <td><span class="am-badge am-badge-success">2015-6-8</span></td>
   
          </tr>
         </tbody>
         </table>
  <!-- content end -->
</div>
</div>


</block>