<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>i微学</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <link rel="icon" href="__PUBLIC__/logo/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="imicrolearn" />
  <link rel="stylesheet" href="__PUBLIC__/amazeassets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/amazeassets/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/adminset/adminset.css">
</head>
<body>
  <div id="login">
  	<div id="container">
    <div class="am-g am-u-">
      <div class="am-u-sm-5"> <img src="__PUBLIC__/logo/imlogo.png" /> </div>
      <div class="am-u-sm-7">
          <span>i微学</span><br>
          <span >imicrolearn.com</span>
       </div>

      <div class="am-u-sm-12">
        <form class="form-search row-fluid "  action="./admin/index/adminlogin" method="post">
          <div class="input-append row-fluid fluid">
            
			用户名<input type="text" name="name" placeholder="用户名" required><br>
			<div id="adminpwd"></div>
      密码<input   type="text" name="pwd" placeholder="密码"  required><br>
			<input   type="submit" value="登录" >

            </div>
        </form>
        </div>
      </div>
      </div>
    </div>

</body>
</html>
