
<extend name="./abase"/>
<block name="main">


    <div class="am-g">
      <div class="am-u-sm-12 am-scrollable-horizontal ">
        <table class="am-table am-table-bd am-table-striped admin-content-table am-table-hover am-text-nowrap">
          <thead>
          <tr>
        <th class="text-center">教程号</th>
    <th class="text-center">教程标题</th>
    <th class="text-center">教程简介</th>
    <th class="text-center">分类ID</th>
    <th class="text-center">分类名</th>
    <th class="text-center">步骤序号</th>
    <th class="text-center">步骤内容</th>
    <th class="text-center">编辑</th>
          </tr>
          </thead>
          <tbody>
            <volist name="allcourse" id="vo">
          <tr>
          <td><span class="am-badge am-badge-success">{$vo.cid}</span></td>
      <td class="text-center">{$vo.cname}</td>
      <td class="text-center">{$vo.ctitle}</td>
      <td class="text-center">{$vo.typeid}</td>
      <td class="text-center">{$vo.typename}</td>
      <td class="text-center">{$vo.stepid}</td>
      <td class="text-center">{$vo.scontent}</td>
           <td>  
            <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                  <li><a href="#">1. 编辑</a></li>
                  <li><a href="#">2. 删除</a></li>
                </ul>
              </div>
              </td>
          </tr>
          </volist>
         </tbody>
         </table>
         <hr>
         <br><br><br>
</div>
</div>

</block>