
<extend name="./abase"/>
<block name="main">
      <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong></div>
    </div>
<div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>
         
         <hr>

    <div class="am-g">
      <div class="am-u-sm-12 am-scrollable-horizontal">
        <table class="am-table am-table-bd am-table-striped admin-content-table am-table-hover am-text-nowrap">
          <thead>
          <tr>
          <th class="am-text-justify"> <input type="checkbox" /></th>
         <th class="am-text-justify">用户ID</th>
         <th class="am-text-justify">用户名</th>
         <th class="am-text-justify">密码</th>
         <th class="am-text-justify">邮箱</th>
         <th class="am-text-justify">编辑</th>
          </tr>
          </thead>
          <tbody>
          	<volist name="alluser" id="vo">
          <tr>
          <td><input type="checkbox" /></td>
          <td><span class="am-badge am-badge-success">{$vo.id}</span></td>
          <td>{$vo.name}</td>
          <td>{$vo.pwd|md5}</td>
          <td>{$vo.email}</td>
         
              <td>
               <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-primary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
          </tr>
          </volist>
         </tbody>
         </table>
           <hr>
		          <div class="am-cf">
  共 15 条记录

  <div class="am-fr">
    <ul class="am-pagination">
      <li class="am-disabled"><a href="#">«</a></li>
      <li class="am-active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>

        
</div>
</div>

</block>