<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>i微学</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="__PUBLIC__/homeassets/css/animate.min.css">
<link rel="stylesheet"
	href="__PUBLIC__/homeassets/css/bootstrap.min.css">
<link rel="stylesheet"
	href="__PUBLIC__/homeassets/css/font-awesome.min.css">
<link rel="stylesheet"
	href="__PUBLIC__/homeassets/css/templatemo-style.css">
<link rel="stylesheet" href="__PUBLIC__/index.css">
</head>
<body>
	
	<!-- start navigation -->
	<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">

				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#"  data-toggle="modal" data-target="#index" class="navbar-brand">【i微学】</a>
				</div>
				
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
					<li><a href="#home">引言</a></li>
				<li><a href="#feature">引路与进阶</a></li>
				<li><a href="#pricing">主题与方法</a></li>
				<li><a href="#download">下载APP</a></li>
				<li><a href="#contact">注册</a></li>
             <li><a href="#" data-toggle="modal" data-target="#fx">方向分类</a></li>
			<empty name="showusername">
            <li><a href="#" data-toggle="modal" data-target="#login">登录</a></li>
            <else /> 
              <li><a href="#" data-toggle="modal" data-target="#user" >{$showusername}</a></li>
           </empty>
				</ul>

					
				</div>
				
			</div>
      <div class="row" >
      <div id="full" class="container-fluid">
      <div id="cb"></div>
      </div>
      </div>
</nav>

<!-- Modal -->
<div class="modal fade " id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">【请登录】</h4>
      </div>
      <div class="modal-body">
       
       <form action="/imicrolearn/user/islogin" method="post"><div class="form-group">
    	<label for="name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
   		<input type="text" class="form-control" id="name" placeholder="用户名" name="name" required>
  		</div>
  		<div class="form-group">
    	<label for="pwd"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
    	<input type="password" class="form-control" id="pwd" placeholder="密码" name="pwd" required>
  		</div>
  		<div class="checkbox">
    	<label>
      	<input type="checkbox">自动登录
    	</label>
  		</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">登录</button>
        <a href="/imicrolearn/user/register">
        <button type="button" class="btn btn-primary">注册</button>
        </a>
     </form>
      </div>
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade " id="fx" tabindex="-1" role="dialog" aria-labelledby="fx1" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="fx1">有方向很重要</h4>
      </div>
      <div class="modal-body">
      

            <div class="list-group">
            <volist name="alltype" id="vo">
            <a href="/imicrolearn/course/typecourse?id={$vo.tid}" class="text-center list-group-item list-group-item-info"><h5>{$vo.tname}</h5></a>
            </volist>
            </div>
      
      </div>
      <div class="modal-footer">

        <a href="/imicrolearn/way/showway"><button type="button" class="btn btn-primary btn-lg btn-block">看全部经验</button></a>
        <br>
        <a href="/imicrolearn/course/showcourse"><button type="button" class="btn btn-primary btn-lg btn-block">看全部教程</button></a>
       
        </a>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="user" tabindex="-1" role="dialog" aria-labelledby="user1" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="user1">去哪儿？</h4>
      </div>
      <div class="modal-body">
      

            <div class="list-group">
         
            <a href="/imicrolearn/user/userinfo" class="text-center list-group-item list-group-item-info"><h5>查看我的收录</h5></a>
           
            <a href="/imicrolearn/course/addcourse" class="text-center list-group-item list-group-item-info"><h5>我要分享</h5></a>
         
            </div>
      
      </div>
      <div class="modal-footer">

       <a href="/imicrolearn/user/logout"><button type="button" class="btn btn-danger btn-lg btn-block">注销</button></a> 
       
        </a>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="index" tabindex="-1" role="dialog" aria-labelledby="index" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="index">回首页？</h4>
      </div>
      <div class="modal-body">
      

            <div class="list-group">
         <a href="/imicrolearn/" class="text-center list-group-item list-group-item-info"><h5>回首页</h5></a>
            <a href="/imicrolearn/user/userinfo" class="text-center list-group-item list-group-item-info"><h5>查看我的收录</h5></a>
            <a href="/imicrolearn/course/addcourse" class="text-center list-group-item list-group-item-info"><h5>我要分享</h5></a>
         
            </div>
      
      </div>
      <div class="modal-footer">

     <button type="button" class="btn btn-danger btn-lg btn-block">关闭</button>
       
        </a>
      </div>
      
    </div>
  </div>
</div>
	<!-- end navigation -->

<!-- start preloader -->
	<div class="preloader">
		<div class="sk-spinner sk-spinner-rotating-plane"></div>
	</div>
	<!-- end preloader -->
	<!-- start home -->
	<section id="home">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
						<h1 class="text-upper">引路与前行，学习与分享</h1>
						<p class="tm-white">如今的我们，在纷繁喧嚣的尘下，需要一处静静的地，一步一步，一滴一点，让自己学习，让自己分享。</p>
						<img src="__PUBLIC__/images/software-img.png"
							class="img-responsive" alt="home img">
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->
	<!-- start divider -->
	<section id="divider">
		<div class="container">
			<div class="row">
				<div class="col-md-4 wow fadeInUp templatemo-box"
					data-wow-delay="0.3s">
					<i class="fa fa-laptop"></i>
					<h3 class="text-uppercase">一台电脑</h3>
					<p>也许你想要用更多，但它已经足够了。</p>
				</div>
				<div class="col-md-4 wow fadeInUp templatemo-box"
					data-wow-delay="0.3s">
					<i class="fa fa-twitter"></i>
					<h3 class="text-uppercase">一次翱翔</h3>
					<p>每一次开始，虽然不一定翱翔，但也许你需要从这有所启发。</p>
				</div>
				<div class="col-md-4 wow fadeInUp templatemo-box"
					data-wow-delay="0.3s">
					<i class="fa fa-font"></i>
					<h3 class="text-uppercase">一种学习</h3>
					<p>当然，没什么绝对，不过这次，你，值得尝试，体验一种有互动有组织可以从零开始的学习</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end divider -->

	<!-- start feature -->
	<section id="feature">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
					<h2 class="text-uppercase">我的灯与你的舵</h2>
					<p>
						总有那么多的教程，总有那么多的书本，在想告诉你怎么做，<br>
						也许你需要来这，瞧瞧怎么学，毕竟，没有学的思路，做总是那么迷糊。<br> 如果你也深有体会，来加入我们，一起前行。<br>
						不孤单，才更有勇气，或者可以试试找找组织，这是一个共赢对的时代。
					</p>
					<p>
						<span><i class="fa fa-mobile"></i></span>【同舟】 <a
							href="../way/showallway">学习每个方向每个前行者留下的足迹</a>
					</p>
					<p>
						<i class="fa fa-code"></i>【共济】 <a href="">分享你的足迹，互动你的前行，共勉共进</a>
					</p>
				</div>
				<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
					<img src="__PUBLIC__/images/software-img.png"
						class="img-responsive" alt="feature img">
				</div>
			</div>
		</div>
	</section>
	<!-- end feature -->

	<!-- start feature1 -->
	<section id="feature1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
					<img src="__PUBLIC__/images/software-img.png"
						class="img-responsive" alt="feature img">
				</div>
				<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
					<h2 class="text-uppercase">我的自省与你的迷途</h2>
					<p>的确，路不怕长，但总要有些指引，有些互动，有前行的鼓舞。</p>
					<p>
						<span><i class="fa fa-mobile"></i></span>【进阶】 <a
							href="/imicrolearn/course/showcourse">迷途了，在这里寻找清晰，重获信心。</a>
					</p>
					<p>
						<i class="fa fa-code"></i>【交流】 <a href="">自省了，在这里互动经验，分享喜悦。</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end feature1 -->

	<!-- start pricing -->
	<section id="pricing">

		<div class="row">
			<div class="container-fluid">
				<div id="biaoti" class="col-md-12 wow bounceIn">
					<h2 class="text-uppercase">我们的主题与方法</h2>
				</div>
			</div>

			<div class="container">
				<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
					<div class="pricing text-uppercase">
						<div class="pricing-title">
							<h4>轻松学习</h4>
							<p>简洁·明了</p>
							<small class="text-lowercase">one</small>
						</div>
						<ul>
							<li>一步一步</li>
							<li>一点一滴</li>
							<li>一心一意</li>
						</ul>
						<button class="btn btn-primary text-uppercase">GO</button>
					</div>
				</div>
				<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
					<div class="pricing active text-uppercase">
						<div class="pricing-title">
							<h4>基础引路</h4>
							<p>思考·指导</p>
							<small class="text-lowercase">two</small>
						</div>
						<ul>
							<li>有路</li>
							<li>有朋友</li>
							<li>好有前景</li>

						</ul>
						<button class="btn btn-primary text-uppercase">GO</button>
					</div>
				</div>
				<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
					<div class="pricing text-uppercase">
						<div class="pricing-title">
							<h4>经验进阶</h4>
							<p>分享·互动</p>
							<small class="text-lowercase">three</small>
						</div>
						<ul>
							<li>用心</li>
							<li>共享方法</li>
							<li>鼓舞前行</li>

						</ul>
						<button class="btn btn-primary text-uppercase">GO</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end pricing -->

	<!-- start download -->
	<section id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
					<h2 class="text-uppercase">下载APP，享受更畅快的学习</h2>
					<p>
						随时随地，分享，互动，学习。<br>自然，只看你关心的。
					</p>
					<button class="btn btn-primary text-uppercase">
						<i class="fa fa-download"></i> Download
					</button>
				</div>
				<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
					<img src="__PUBLIC__/images/software-img.png"
						class="img-responsive" alt="feature img">
				</div>
			</div>
		</div>
	</section>
	<!-- end download -->

	<!-- start contact -->
	<section id="contact">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<h2 class="text-uppercase">来吧！加入我们</h2>
						<p>
							
							总要有个开始，踏上一段新路途。
						</p>
						<address>
							<p>
								<i class="fa fa-map-marker"></i>imicrolearn.com
							</p>
							<p>
								<i class="fa fa-phone"></i> QQ ：315129552
							</p>
							<p>
								<i class="fa fa-envelope-o"></i> 315129552@qq.com
							</p>
						</address>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="contact-form">
							<form action="/imicrolearn/user/isregister" method="post">
								<div class="col-md-12">
									<input type="text" class="form-control" placeholder="用户名"required>
								</div>

								<div class="col-md-6">
									<input type="password" class="form-control" placeholder="密码"
										required>
								</div>
								<div class="col-md-6">
									<input type="password" class="form-control" placeholder="确认密码"
										required>
								</div>

								<div class="col-md-12">
									<input type="email" class="form-control" placeholder="邮箱"
										required>
								</div>
								<div class="col-md-12">
									<input type="submit" class="form-control text-uppercase"
										value="注册">
								</div>
							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="__PUBLIC__/homeassets/js/jquery.js"></script>
	<script src="__PUBLIC__/homeassets/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/homeassets/js/wow.min.js"></script>
	<script src="__PUBLIC__/homeassets/js/jquery.singlePageNav.min.js"></script>
	<script src="__PUBLIC__/homeassets/js/custom.js"></script>
</body>
</html>