<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>i微学</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" href="__PUBLIC__/logo/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="imicrolearn" />
  <link rel="stylesheet" href="__PUBLIC__/amazeassets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/amazeassets/css/admin.css">
</head>
<body>
<include file="Public:header" />
<div class="am-cf admin-main">
<include file="Public:sidebar" />
<div class="admin-content">
<block name="main"></block>

</div>
</div>
<include file="Public:footer" />
<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="__PUBLIC__/amazeassets/js/jquery.min.js"></script>
<script src="__PUBLIC__/amazeassets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/amazeassets/js/app.js"></script>
</body>
</html>
