
<div class="admin-sidebar am-offcanvas" id="sidebar">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
      <li><br></li>
        <li><a href="../user/userlikecourse"><span class="am-icon-home"></span> 我的收录<span class="am-icon-angle-right am-fr am-margin-right"></a></li>
        <li>
          <a href="../user/userinfo"><span class="am-icon-file"></span> 我的资料 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        </li>
        <li><a href="../user/usersharecourse"><span class="am-icon-table"></span> 我分享的教程<span class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
        <li><a href="__APP__/course/showaddcourse"><span class="am-icon-pencil-square-o"></span> 我来分享<span class="am-icon-angle-right am-fr am-margin-right"></a></li>
        <li><a href="#"><span class="am-icon-bug"></span> 关注<span class="am-icon-angle-right am-fr am-margin-right"></a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 寄语</p>
          <p>时光静好，与君语；<br>细水流年，与君同。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—— i微学</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> 欢迎</p>
          <h3>我的地盘</h3>
        </div>
      </div>
    </div>
  </div>

  <a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" 
    data-am-offcanvas="{target: '#sidebar'}"></a>
