
<div id="usertitle" class="am-g">
<div id="container">
<br>
  <div class="am-u-sm-2  am-u-sm-offset-1">
  <br>
  <img src="__PUBLIC__/logo/imlogo.png" alt="" id="touxiang">
  <br>
  </div>
  <div class="am-u-sm-6 am-u-md-4 am-u-sm-offset-2 am-u-md-offset-0">
<h3>你好！{$Think.session.userinfo.unickname|default="【耶？我的昵称呢】"}</h3>
<p>用户名：{$Think.session.userinfo.uname}</p>
寄语：【{$Think.session.userinfo.utitle|default="嘿嘿，我没心情"}】
<br>

  </div>

<div class="am-u-md-2 am-hide-sm-only">
	<br>
  <a href="../way/showway"><button type="button" class="am-btn am-btn-primary am-btn-block">交互经验</button></a>
          <br>    
  <a href="../course/showaddcourse">  <button type="button" class="am-btn am-btn-success am-btn-block">分享教程</button>
  <br>
</a>
</div>
</div>
</div>
<hr>
